<div class="name-field">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<div class="description-field">
  <%= form.label :description %>
  <%= form.text_field :description %>
</div>

<div class="price-field">
  <%= form.label :price %>
  <%= form.text_field :price %>
</div>

<div class="image-field">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true %>
</div>

<%= link_to "Show all listings", listings_path %>