<div class="name-field">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<div class="description-field">
  <%= form.label :description %>
  <%= form.text_field :description %>
</div>

<div class="price-field">
  <%= form.label :price %>
  <%= form.text_field :price %>
</div>

