<%= form_for [@listing, @reservation] do |form| %>

<div class="">
  <%= form.hidden_field :user_id, value: current_user.id %>
</div>

<div class="">
  <%= form.hidden_field :listing_id, value: @listing.id %>
</div>

<div class="">
  <%= form.label "Check in:" %>
  <%= form.date_field :check_in %>
</div>

<div class="">
  <%= form.label "Check out:" %>
  <%= form.date_field :check_out %>
</div>

<div class="">
  <%= form.submit "Reserve" %>
</div>
<% end %>

<%= link_to 'Back to all Reservation', listing_reservations_path %>

<%= link_to 'Back to all Listing', listings_path %>